{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}


<form method="POST" action="{% url 'login'%}">

{% csrf_token %}
<div class="all_box">
     <h1 class="explanation"><span>L</span>og <span>I</span>n</h1>

     <div class="img_box" style="text-align:center;">
          <div class="input_box">
               <div class="signup1">
                    <p class="title" >Username</p>
               <br>
               <input name="username"  type="text" value="" >
               </div>
          <br>
          <div class="signup1">
                    <p class="title">password</p>
               <br>
               <input name="password"  type="password" value="">
               <br>
               <br>
          </div>
          <div class="signup1">
          <input class="btn btn-primary" type="submit" value="Sign Up!">
          </div>
          <br>
          <br>
          </div>
     </div>
</div>
</form>


{% endblock %}

