{% extends 'base.html' %}
{% block content %}

        <!-- 타이틀 입력 -->
        <div class="title">
            <input type="text" class="title">
        </div>
        <!-- 내용 입력 -->
        <div class="content">
            <input type="text" class="content">
        </div>
        <!-- 이미지 입력 -->
        <div class="img">
            <input type="text" class="img">
            <button class="img">이미지 불러오기</button>
        </div>
        <!-- 저장/완료 버튼 -->
        <div class="button">
            <button class="save">저장</button>
            <button class="finish">완료</button>
        </div>
        
{% endblock %}