{% extends 'base.html' %}
{% load static %}

{% block content %}
<form action= "{% url 'share:update' contents.id %}" method="POST">
    {% csrf_token %}
    <label>이미지</label>
    <input type="files" name="image" value = {{ contents.image }}/><br><br>
    
    <label>제목</label>
    <input type="text" name="title" value = {{ contents.title }}/><br><br>
    
    <label>내용</label>
    <textarea name ="content">{{ contents.content }}</textarea><br><br>
    
    
    <input type="submit" value="수정"/>
</form>
{% endblock %}