{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
     
          
  <div class="album py-5 bg-light">
  <div class="container">
	  <div class="row">
	  {% for content in contents.all %}
	    <div class="col-md-4">
	      <div class="card mb-4 shadow-sm">
	        <img class="card-img-top" src="{{ content.image.url }}" alt=" Card image cap">
	        <div class="card-body">
	          <h4>{{ content.title }}</h4>
	          <p class="card-text">{{ content.content }}</p>
	        </div>
	      </div>
	    </div>
    {% endfor %}
    </div>
  </div>
</div>
     
{% endblock %}