{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
   
   <!--fixed navbar-->
   <nav class="navbar navbar-expand navbar-dark pt-3 pb-3">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse justify-content-md-center " id="navbarsExample02">
        <ul class="navbar-nav  ">
          <li class="nav-item active">
            <a class="nav-link" href="#">Library <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ranking</a>
          </li>
        </ul>
        <!--
        <form action="{% url 'share:search' %}" method="get" class="my-2 my-md-0" style="position:absolute; right : 10px;">
          <div class="input-group ">
              <input type="text" name="q" value="{{ q }}" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-success" type="button" id="button-addon2">Button</button>
              </div>
          </div>
        </form>
        -->
      </div>
    </nav>
    <!--공YOU & 소개링크-->
   <div class="gongu" style="text-align: center; z-index:9999; padding-top:60px; margin-top:100px;">
     <img src="{% static 'image/logo.png'%}" alt=""> <!--이미지 넣기-->
   </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!--카테고리-->
    <div id="category" style="margin-top:50px width: 100px; padding-top: 20px;">
        
        <button type="button" class="btn btn-link"><img src="{% static 'image/all.png'%}" width="50" height="50"></button>
        <button type="button" class="btn btn-link"><img src="{% static 'image/art.png'%}" width="50" height="50"></button>
        <button type="button" class="btn btn-link"><img src="{% static 'image/sports.png'%}" width="50" height="50"></button>
        <button type="button" class="btn btn-link"><img src="{% static 'image/lang.png'%}" width="50" height="50"></button>
        <button type="button" class="btn btn-link"><img src="{% static 'image/coding.png'%}" width="50" height="50"></button>
    </div>    
  <div class="album py-5 bg-light" style="margin-top:110px;margin-top:63;">
  <div class="container">
	  <div class="row">
	      <div class="col-md-4">
               <div class="card mb-4 shadow-sm">
                 <div class="card-body" style = "height: 386px; position: relative;">
                   <a href="{% url 'share:add'%}"><img src="{% static 'image/plus.png'%}" width="50" height="50" style="position: absolute; left: 44%; transform: translateX(50%); bottom: 50%; transform: translateY(50%);"></a>
                   <div class="d-flex justify-content-between align-items-zcenter">
                   </div>
                 </div>
               </div>
             </div>
	  {% for content in contents %}
	    <div class="col-md-4">
	      <div class="card mb-4 shadow-sm">
	        <img class="card-img-top" src="{{ content.image.url }}" alt=" Card image cap">
	        <div class="card-body">
	          <h4>{{ content.title }}</h4>
	          <p class="card-text">{{ content.content }}</p>
	          <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <!--<button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='/{{ content.id }}'">View</button>-->
                      <a href="{% url 'share:board' content.id %}" class="btn btn-sm btn-outline-secondary">VIEW</a><br><br>
                      <a href="{% url 'share:edit' content.id %}" class="btn btn-sm btn-outline-secondary">EDIT</a>
                      <a href="{% url 'share:delete' content.id %}" class="btn btn-sm btn-outline-secondary">DELETE</a>
                      <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
                  </div>
	        </div>
	      </div>
	    </div>
    {% endfor %}
    </div>
  </div>
</div>
     
{% endblock %}